#include "C:\masm32\include\resource.h"

#define  ID_BUTTON1 201
#define  ID_BUTTON2 202
#define  ID_BUTTON3 203
#define  ID_BUTTON7 207
#define  ID_STATIC1  1001 
#define  ID_PROGRESSBAR1 2001
#define	 IDC_VolumeSlider 1101
#define  IDC_VolumeDisplay 1102
; ================================================================================== =

MAINSCREEN DIALOGEX 29, 28, 300, 120
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE |
WS_CAPTION | WS_SYSMENU
CAPTION "Welcome :)"
FONT 8, "MS Sans Serif"
BEGIN

CONTROL         "music", ID_STATIC1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 80, 20, 230, 20

CONTROL "IDC_PROGRESS", ID_PROGRESSBAR1, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE, 30, 50, 200, 15

PUSHBUTTON      "Play", ID_BUTTON1, 30, 90, 36, 20, BS_FLAT,
WS_EX_DLGMODALFRAME

PUSHBUTTON      "Stop", ID_BUTTON2, 100, 90, 36, 20, BS_FLAT,
WS_EX_DLGMODALFRAME

PUSHBUTTON      "Pause", ID_BUTTON3, 170, 90, 36, 20, BS_FLAT,
WS_EX_DLGMODALFRAME

PUSHBUTTON      "Silence", ID_BUTTON7, 240, 90, 36, 20, BS_FLAT,
WS_EX_DLGMODALFRAME

CONTROL "", IDC_VolumeSlider, "msctls_trackbar32", 0x50010000, 240, 80, 53, 10, 0x00000000

CONTROL "10", IDC_VolumeDisplay, "Static", 0x50000000, 240, 70, 53, 10, 0x00000000
END


#define  ID_LIST1 101
#define  ID_BUTTON4 204
#define  ID_BUTTON5 205
#define  ID_BUTTON6 206
#define  ID_SHOWPATH 1000

; ================================================================================== =

MAINSCREEN1 DIALOGEX 29, 28, 256, 180
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE |
WS_CAPTION | WS_SYSMENU
CAPTION "Select the music you love!"
FONT 8, "MS Sans Serif"
BEGIN
LISTBOX         ID_LIST1, 8, 28, 240, 100, LBS_SORT | LBS_MULTICOLUMN |
WS_HSCROLL

PUSHBUTTON      "Play", ID_BUTTON4, 128, 152, 36, 20, BS_FLAT,
WS_EX_DLGMODALFRAME

PUSHBUTTON      "Stop", ID_BUTTON5, 172, 152, 36, 20, BS_FLAT,
WS_EX_DLGMODALFRAME

DEFPUSHBUTTON   "Close", ID_BUTTON6, 216, 152, 36, 20, BS_FLAT,
WS_EX_DLGMODALFRAME

LTEXT           "", ID_SHOWPATH, 8, 12, 240, 10, SS_SUNKEN

CTEXT           "Click on the music file and start enjoying!",
-1, 12, 132, 177, 15, SS_CENTERIMAGE | WS_BORDER
END