#include "C:\masm32\include\resource.h"

#define  ID_BUTTON1 201
#define  ID_BUTTON2 202
#define  ID_STATIC1  1001 

; ===================================================================================

MAINSCREEN DIALOGEX 29, 28, 256, 120
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "Welcome :)"
FONT 8, "MS Sans Serif"
BEGIN

    CONTROL         "music", ID_STATIC1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE,  120, 20, 230, 20 

    PUSHBUTTON      "Play", ID_BUTTON1, 80, 90, 36, 20, BS_FLAT,
                    WS_EX_DLGMODALFRAME

    PUSHBUTTON      "Stop", ID_BUTTON2, 150, 90, 36, 20, BS_FLAT,
                    WS_EX_DLGMODALFRAME



END

